# Database environments
DATABASE_HOST=change_host
DATABASE_PORT=3306
DATABASE_USER=change_user
DATABASE_PASSWORD=change_root_password
DATABASE_NAME=change_database

# Flask environments
FLASK_SECRET_KEY=change_for_super_secret_key

# App environments
APP_HOST=127.0.0.1
APP_PORT=8081
APP_DEBUG=False or True