{% extends "base.html" %}

{% block content %}
<h1>Home Welcome {{current_user.first_name}}</h1>
<a href="{{url_for('auth.logout')}}">Logout</a>

{% if current_user.role == UserRole.MANAGER or current_user.role == UserRole.ADMINISTRATOR %}

<div id="container-departments">
    <form style="border: 1px solid black; width: fit-content" action="{{url_for('department.department_create')}}" method="post">
        <h1>New Departments</h1>
        <input type="text" name="name" placeholder="Name departments" id="name"><br>
        <input type="text" name="description" placeholder="description departments" id="description"><br>
        <input type="submit" value="Registrar">
    </form>

    <table border="3">
        <caption>Departments List</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if not department_list %}
            <tr>
                <td colspan="3" style="text-align: center;">No department register</td>
            </tr>
            {% endif %}
            {% for department in department_list %}
                <tr>
                    <td>{{department.name}}</td>
                    <td>{{department.description}}</td>
                    <td>
                        <form action="{{ url_for('department.department_delete', id=department.id) }}" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<hr>

{% endif %}


<form style="border: 1px solid black; width: fit-content" action="{{url_for('categories.category_create')}}" method="post">
        <h1>New Category</h1>
        <select name="department_id" id="department_id">
            {% for department in department_list %}
                <option value="{{department.id}}">{{department.name}}</option>
            {% endfor %}
        </select>
        <input type="text" name="name" placeholder="Name departments" id="name"><br>
        
        <input type="color" name="color" id="color">
        <input type="submit" value="Registrar">
    </form>

    <table border="3">
        <caption>Category List</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if not category_list %}
            <tr>
                <td colspan="3" style="text-align: center;">No category register</td>
            </tr>
            {% endif %}
            {% for category in category_list %}
                <tr>
                    <td>{{category.name}}</td>
                    <td>{{category.color}}</td>
                    <td>
                        <form  action="{{ url_for('categories.category_delete', id=category.id) }}" method="post">
                            <button  type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


<hr>




<form style="border: 1px solid black; width: fit-content" action="{{url_for('user.user_department_add')}}" method="post">
        <h1>Add User on Department</h1>
        <select name="user_id" id="user_id">
            {% for user in user_list %}
                <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
            {% endfor %}
        </select>
        <select name="department_id" id="department_id">
            {% for department in department_list %}
                <option value="{{department.id}}">{{department.name}}</option>
            {% endfor %}
        </select>

        
        <select name="role" id="role">
            {% for item in DepartmentRole %}
                <option value="{{item.value}}">{{item.value.capitalize()}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="Add">
    </form>


    <table border="3">
        <caption>User Departments</caption>

        <thead>
            <tr>
                <th>Department</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% if not user_departments %}
            <tr>
                <td colspan="3" style="text-align:center;">
                    User is not registered in any department.
                </td>
            </tr>
            {% endif %}

            {% for item in user_departments %}
            <tr>
                <td>{{ item.department.name }}</td>
                <td>{{ item.department_role.value.capitalize() }}</td>
                <td>
                    <form action="{{ url_for('user.department_delete', id=item.id) }}" method="post">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %} 


